.rata { 
    text-align:left ; 
    font-size: 16px; 
    line-height: 30px;
}

h1 {
    font-family: Helvetica;
    text-align: center;
    font-size: 50px;
}

body {
    background: url(../Image/StarrySky.jpg);
}